       <div class="dev_list">

        <div class="panel panel-info">
            <div class="panel-heading"><h4>Device list</h4></div>
            <div class="panel-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>IP</th>
                            <th>Number of PS channel</th>
                            <th>Manufacturer</th>
                            <th>Device</th>
                            <th>Serial number</th>
                            <th>Firmware version</th>
                            <th>Online</th>
                            <th></th>
                        </tr> 
                    </thead>
                    <tbody>
                        <tr ng-repeat="dev in devData">
                            <td> {{dev.id}}</td>
                            <td> {{dev.name}}</td>
                            <td> {{dev.lan_address}}</td>
                            <td> {{dev.ps_channel}}</td>
                            <td> {{dev.manufacturer}}</td>
                            <td> {{dev.device}}</td>
                            <td> {{dev.serial_num}}</td>
                            <td> {{dev.firm_ver}}</td>
                            <td> {{dev.online}}</td>
                            <td><button class="btn btn-danger" type="submit" ng-click="deleteDev(dev.id)">Delete</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="panel panel-info">
            <div class="panel-heading"><h4>Add new device</h4></div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="name">Name:</label><br>
                    <input type="text" placeholder="name" class="form-control" ng-model="formData.name" id="name">
                </div>

                <div class="form-group">
                    <label for="ip_addr">IP address:</label><br>
                    <input id="ip_addr" class="form-control" type="text" placeholder="lan address" ng-model="formData.lan_address">
                </div>

                <div class="form-group">
                    <label for="ps_channel">PS channel:</label><br>
                    <input id="ps_channel" class="form-control" type="number" placeholder="0" min="0" max="8" ng-model="formData.ps_channel">
                </div>

                <button type="submit" class="btn btn-primary" ng-click="createDev()">Submit</button>
                <button type="submit" class="btn btn-primary" ng-click="detectDev()">Detect</button>
            </div>
        </div>
    </div>
