       <div class="system_files">
            <div class="panel panel-info">
                <div class="panel-heading"><h4>Files</h4></div>
                <div class="panel-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Size</th>
                                <th></th>
                            </tr> 
                        </thead>
                        <tbody>
                            <tr ng-repeat="file in fileData">
                                <td> <a href="/files/{{file.name}}">{{file.name}}</a></td>
                                <td> {{file.size}}</td>
                                <td>  <button class="btn btn-danger" type="submit" ng-click="deleteFile(file.name)">Delete</button></td>
                            </tr>
                        </tbody>
                    </table>                    
                </div>
            </div>
        </div>
