       <div class="system_logs">
            <h1>System logs</h1>
            <table>
                <tr>
                    <th>ID</th>
                    <th>Date</th>
                    <th>Time</th>
		    <th>Type</th>
                    <th>Message</th>
                </tr>
                <tr ng-repeat="log in logsData">
                    <td> {{log.id}}  </td>
                    <td> {{log.date}} </td>
                    <td> {{log.time}} </td>
		    <td> {{log.type}}
                    <td> {{log.msg}}  </td>
                </tr>
            </table>
            <br><button type="submit" ng-click="deleteLogs()">Delete logs</button>
        </div>

