       <div class="system_logs">
            <div class="panel panel-info">
                <div class="panel-heading"><h4>Logs</h4></div>
                <div class="panel-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Date & Time</th>
                            <th>Part of system</th>
	                    <th>Type</th>
                            <th>Message</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="log in logsData">
                            <td> {{log.id}}  </td>
                            <td> {{log.date_time}} </td>
                            <td> {{log.source}} </td>
                            <td> {{log.types}} </td>
                            <td> {{log.msg}}  </td>
                        </tr>
                    </tbody>
                </table>
                <button class="btn btn-danger" type="submit" ng-click="deleteLogs()">Delete logs</button>
            </div>
        </div>
