
    <div class="panel panel-info">
        <div class="panel-heading"><h4>System state</h4></div>
        <div class="panel-body">

<br>
<div class="panel panel-default">
    <div class="panel-heading">App</div>
        <div class="panel-body">
            Server time:{{verData.server_time}}<br>
            Version: {{verData.major}}.{{verData.minor}}.{{verData.runtime}}<br>
            Uptime: {{sysData.uptime}}<br>
            Boot time: {{sysData.boot_time}}<br>
        </div>
    </div>


<div class="panel panel-default">
    <div class="panel-heading">Platform</div>
        <div class="panel-body">
            OS: {{sysData.version}}<br>
            Plat: {{sysData.machine}}<br>
        </div>
    </div>


<div class="panel panel-default">
    <div class="panel-heading">Memory</div>
        <div class="panel-body">
            Used space: {{sysData.mem_used}}<br>
            Free space: {{sysData.mem_free}}<br>
            Total space: {{sysData.mem_total}}<br>
            Used space:
            <div class="progress">
                <div class="progress-bar" style="width:{{sysData.mem_percent}}%">{{sysData.mem_percent}}%</div>
            </div>
        </div>
    </div>


<div class="panel panel-default">
    <div class="panel-heading">Disk</div>
        <div class="panel-body">
            Used space: {{sysData.disk_used}}<br>
            Free space: {{sysData.disk_free}}<br>
            Total space: {{sysData.disk_total}}<br>
            Used space:
            <div class="progress">
                <div class="progress-bar" style="width:{{sysData.disk_percent}}%">{{sysData.disk_percent}}%</div>
            </div>
        </div>
    </div>


<div class="panel panel-default">
    <div class="panel-heading">Cpu</div>
        <div class="panel-body">

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>CPU</th>
                            <th>Usage</th>
                            <th>Current frequency</th>
                            <th>Max frequency</th>
                            <th>Min Frequency</th>
                        </tr> 
                    </thead>
                    <tbody>
                    <tr ng-repeat="cpu in sysData.cpu_info">
                            <td> {{cpu.cpu}}</td>
                            <td> {{cpu.usage}}%</td>
                            <td> {{cpu.cur}}</td>
                            <td> {{cpu.max}}</td>
                            <td> {{cpu.min}}</td>
                        </tr>
                    </tbody>
                </table>
        </div>
    </div>
<button type="submit" class="btn btn-danger" ng-click="sysShutdown()">Shutdown</button>
</div>
</div>

