<div class="task_list">
      
        <div class="panel panel-info">
            <div class="panel-heading"><h4>Tasks</h4></div>
            <div class="panel-body">
                 <div ng-repeat="task in taskData" class="panel panel-default">
                    <div class="panel-heading">{{task.name}}</div>
                    <div class="panel-body">
                        <p>ID: {{task.id}}</p>
                        <p>Date & Time begin: {{task.datetime_begin}}</p>
                        <p>Date & Time end: {{task.datetime_end}}</p>
                        <p>Date & Time next: {{task.datetime_next}}</p>
                        <p>Series: {{task.series}}</p>
                        <p>Cron: {{task.cron_str}}</p>
                        <p>Status: {{task.status}}</p>
                        <pre><code>{{task.msg}}</code></pre>
                        <button class="btn btn-danger" type="submit" ng-click="deleteTask(task.id)">Delete</button>
                        <button class="btn btn-primary" type="submit" ng-click="executeTask(task.id)">Execute now</button>  
                        <button class="btn btn-danger" type="submit" ng-click="stopTask(task.id)">Stop</button>   
                    </div>
            </div>
        </div>
</div>
