<div class="dev_list">
    <div ng-repeat="task in taskData">
        ID:{{task.id}}<br>  
        Name:{{task.name}}<br>
        Device:<div ng-repeat="dev in devData"><div ng-if="task.dev == dev.id">{{dev.name}}</div></div><br>
        Date:{{task.date}}<br>
        Time:{{task.time}}<br>
        Status:{{task.status}}<br>
        <br>
        <textarea rows="10" cols="50" ng-model="task.msg"></textarea>

        <textarea rows="10" cols="50" ng-model="task.req"></textarea><br>

        <button type="submit" ng-click="deleteTask(task.id)">Delete</button>        
        <button type="submit" ng-click="updateTask(task.id)">Update</button> 
        <hr>
    </div>

    <div class="task_form">
        <h1>Add new task</h1>
        Name:<input type="text" placeholder="name" ng-model="taskFormData.name"><br>
        Date:<input type="text" placeholder="date" ng-model="taskFormData.date"><br>  
        Time:<input type="text" placeholder="time" ng-model="taskFormData.time"><br>
        Device:<select ng-model="taskFormData.dev"> 
			<option ng-repeat="dev in devData" placeholder="" value="{{dev.id}}">{{dev.name}}</option>
            </select><br>
        <textarea rows="10" cols="50" ng-model="taskFormData.msg"></textarea><br>
        <br><button type="submit" ng-click="createTask()">Submit</button>
    </div>

</div>


