<!DOCTYPE html>
<html ng-app="node_dev">
    <head>
        <title>Measure</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <link rel="stylesheet" href="/stylesheets/style.css" media="screen">
    </head>
    <body ng-controller="mainController">

        <div class="system_logs">
            <h1>System logs</h1>
            <table>
                <tr>
                    <th>ID</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Message</th>
                </tr>
                <tr ng-repeat="log in logsData">
                    <td> {{log.id}}  </td>
                    <td> {{log.log_date | date : "dd.MM.y"}} </td>
                    <td> {{log.log_time}} </td>
                    <td> {{log.message}}  </td>
                </tr>       
            </table>
            <br><button type="submit" ng-click="deleteLogs()">Delete logs</button>
        </div>

        <div class="dev_list">
            <h1>List of device</h1>
    
            <table>
                <tr>
                    <th>ID</th>
                    <th>Own name</th>
                    <th>Manufacturer</th>
                    <th>Name</th>
                    <th>Serial</th>
                    <th>Firmware</th>
                    <th>IP</th>
                    <th>Port</th>
                    <th>Active</th>
                </tr>
                <tr ng-repeat="dev in devData">
                    <td> {{dev.id}} </td>
                    <td> {{dev.own_name}} </td>
                    <td> {{dev.manufacturer}} </td>
                    <td> {{dev.name}} </td>
                    <td> {{dev.serial_nr}} </td>
                    <td> {{dev.firmware_ver}} </td>
                    <td> {{dev.lan_address}} </td>
                    <td> {{dev.lan_port}} </td>
                    <td> {{dev.active}} </td>
                    <td><button ng-click="deleteDev(dev.id)">Delete</button></td>
                </tr>
            </table>
        </div>

        <div class="dev_form">
            <h1>Add new device</h1>
            Own name:<br><input type="text" placeholder="own name" ng-model="formData.own_name"><br>
            IP:<br><input type="text" placeholder="lan address" ng-model="formData.lan_address"><br>
            Port:<br><input type="number" placeholder="5555" ng-model="formData.lan_port"><br>
            <br><button type="submit" ng-click="createDev()">Submit</button>
        </dev>

        <div class="task_form">
            <h1>List of task</h1>
        
            <table>
                <tr>
                    <th>ID</th>
                    <th>Device own name</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Request</th>
                    <th>Return</th>
                </tr>
                <tr ng-repeat="task in tasks">
                    <td> {{task.id}} </td>
                    <td> {{task.task_dev_name}} </td>
                    <td> {{task.task_date}} </td>
                    <td> {{task.task_time}} </td>
                    <td> {{task.task_request}} </td>
                    <td> {{task.task_return}} </td>
                    <td> <button ng-click="deleteTask(dev.id)">Delete</button></td>
                </tr>
            </table>       

            <h1>Add new task</h1>  
            Device:<br><select ng-model="task_dev_name"> 
                <option ng-repeat="dev in devData" placeholder="" value="{{dev.own_name}}">{{dev.own_name}}</option>
            </select><br>

            Time:<br><input type="time" placeholder="" ng-model="taskData.task_time"><br>
            Date:<br><input type="date" placeholder="" ng-model="taskData.task_data"><br>
            Request:<br><input type="text" placeholder="*IDN?" ng-model="taskData.request"><br>
            <br><button type="submit" ng-click="createTask()">Submit</button>
        </dev>

        <script src="//code.jquery.com/jquery-2.2.4.min.js" type="text/javascript"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular.min.js"></script>
        <script src="javascripts/app.js"></script>
    </body>
</html>
