<!doctype html>
<html ng-app="myApp">
    <head> 
        <script src="/static/lib/angular.min.js"></script>  
        <script src="/static/lib/angular-route.min.js"></script>
        <script src="/static/js/app.js"></script>
	<link rel="stylesheet" href="/static/css/style.css" />
    </head>
    <body ng-controller="mainController">
        <h1>Metrology device</h1>
        <ul>
            <li><a href="/#/">home page</a></li>
            <li><a href="/#/sys">sys page</a></li>
            <li><a href="/#/log">log page</a></li>
	        <li><a href="/#/dev">dev page</a></li>
            <li><a href="/#/task">task page</a></li>
         <!--   <li>{% raw %} <p>{{sys.date}} {{sys.time}} </p>{% endraw %}</li>
            <li><p>{% raw %}Core is alive:{{sys.core_run}}{% endraw %} </p></li>
            <li><p>{% raw %}Runing task:{{sys.task_counter}}{% endraw %}</p></li>-->
        </ul>
        <div ng-view></div>
    </body>
</html>
