<!doctype html>
<html ng-app="myApp">
    <head> 
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
	<script src="http://code.angularjs.org/1.5.3/angular-route.min.js"></script>
        <script src="/static/js/app.js"></script>
	<link rel="stylesheet" href="/static/css/style.css" />
    </head>
    <body ng-controller="mainController">
        <h1>Metrology device</h1>
        <a href="/#/">home page</a>
        <a href="/#/sys">sys page</a>
        <a href="/#/log">log page</a>
	<a href="/#/dev">dev page</a>

        <hr>
        <div ng-view></div>
    </body>
</html>
